{% extends "base.html" %}
{% block title %}Tutoriales{% endblock %}

{% block content %}
    {% for tutorial in tutoriales.object_list%}
    <div class="tutoriales_list">
        <h2 class="titulos">{{tutorial.titulo}} </h2>
        <div class="espaciotuto">
        <img src="{{STATIC_URL}}img/calendar_small.png">{{tutorial.fecha|date:"D, d-m-Y"}}
        <p>{{tutorial.cuerpo|truncatewords:150|safe}}</p>
        </div>
        <span class="autor"><b>Autor:</b> {{tutorial.autor}}</span>
        <div class="leermas"><a href="/tutoriales/{{tutorial.slug}}"><input type="submit" class="btn primary" name="submit" value="leer más"></a></div>
    <br>
    </div>
    {% endfor %}


            <div class="pagination">
                <span class="step-links">
                {% if tutoriales.has_previous %}
                <a href="?page={{ tutoriales.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ tutoriales.number }} de {{ tutoriales.paginator.num_pages }}.
                </span>

                {% if tutoriales.has_next %}
                    <a href="?page={{ tutoriales.next_page_number }}">Siguiente</a>
                {% endif %}
                </span>
            </div>
{% endblock %}
