{% extends "base.html" %}
{% load disqus_tags %}
{% load comments %}
{% block title %} {{tutoriales.titulo}} {% endblock %}
{% block extra_head%}
<script type="text/javascript" charset="utf-8">
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
{% block content %}
<div class="cuerpo_noticia">
    <div class="noticias">
        <h1 class="title_noti">{{tutoriales.titulo}}</h1>
        <div class="fecha_noticias">
        publicado: {{tutoriales.fecha|date:"D, d-m-Y"}}
        </div>
        <div class="noti_cuerpo">
        {{tutoriales.cuerpo|safe}}
        </div>
        <div class="campo_perfil"><b> Autor:</b> {{tutoriales.autor}}</div>
        <div class="socialboton">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
</div>
	</div> <!-- fin de la clase noticias -->
<h1 class="titulos">comentarios</h1>
<div id="discus">
    {% disqus_dev %}
    {% disqus_show_comments %}
</div>
<br></br>
</div> <!-- fin de la clase cuerpo_noticia -->
{% endblock %}
