#completo {
    -webkit-box-shadow: 0px 3px 12px rgba(5, 5, 5, 1);
    -moz-box-shadow:    0px 3px 12px rgba(5, 5, 5, 1);
    box-shadow:         0px 3px 12px rgba(5, 5, 5, 1);
    padding: 10px 0px 10px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
}

.titulos {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Ribeye Marrow', cursive;
    border-bottom-style:dotted;
    margin: 10px 0px 10px 0px;
}

.fechatwt {
    font-size: 10px;
    color: #aaa;
    font-weight: bold;
}
.fechatwt img {
    margin: 0px 0px 0px 74px;
}

.noticiatwt {
    font-family: 'Buenard', serif;
    color: #7E613F; 
}

.separador {
    width: 970px;
    margin: 20px 0 19px;

}

.cuadron {
	background:#fff;
	border:1px solid #ddd;
	font-size:16px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 470px;
    height: 360px;
    margin: 1px 2px 3px 6px;
    -moz-box-shadow:  0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow:  1px 5px 10px #000000; 
}

.cuadron h1
    {
        font-size: 1em;
        position: relative;
        text-align: center;
        color: #222;
        text-shadow: 0 1px rgba(255,255,255,.8);
        background-color: #ccc;
        width: 400px;
    }
.cuadron h1:before, h1:after
    {
    	content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -10px;
    }    
.cuadron h1.left
    {  
        margin: 9px -10px 10px -10px;
        padding: 1px 0 1px 1px; 
        background-image: -moz-linear-gradient(left,rgba(255,255,255,0), #fff);
        background-image: -webkit-linear-gradient(left,rgba(255,255,255,0), #fff);
		background-image: -o-linear-gradient(left,rgba(255,255,255,0), #fff);
		background-image: -ms-linear-gradient(left,rgba(255,255,255,0), #fff);
        background-image: linear-gradient(left,rgba(255,255,255,0), #fff);
    }
.cuadron h1.left:before
    {
        border-width: 0 10px 10px 0;
        border-right-color: #555;
        left: 0;
    }
.cuadron strong {
    font-size: 10px;
    color: #6a6a6a;
    font-weight: bold;
    float: right; 
}
.cuadron h5 {
    font-size: 17px;
    font-family: 'Buenard', serif;
    margin: 1px 2px 3px 6px;
}

.cuadron p {
    font-size: 13px;
    font-family: 'Buenard', serif;
    margin: 1px 2px 3px 7px;
}
.cuerp {
    font-size: 13px;
    font-family: 'Buenard', serif;
    margin: 1px 2px 3px 7px;
}

#pie {
    background:rgba(39,39,39, 0.75);
    height: 170px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    
}

.marco { 
   padding:7px; 
   background-color: #f5f5f5; 
   width: 125px; 
   border-bottom: 1px solid #999999; 
   border-right: 1px solid #999999;
   margin: -6px 2px 3px 12px; 
}

.marco IMG{ 
   border: 1px solid #000000; 
}

.zen h1 {
    font-size: 13px;
    margin: -151px 2px 3px 168px;
    color: #fff;
    border-bottom: thin solid #c5c5c5;
}

.zen span {
    color: #7E613F;
    background: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.zen p {
    font-size: 11px;
    margin: 1px 2px 3px 168px;
    color: #fff;
}
/* Lista de los tutoriales*/
.tutoriales_list {
    background:rgba(249,249,249, 0.85);
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    width: 947px;
    margin: 1px 2px 3px 6px; 
    
}
.tutoriales_list h2, span {
    margin-left: 10px;
}
.espaciotuto {
    margin: 1px 0px 1px 10px;    
}

.leermas {
    margin: 1px 0px 1px 10px;
}


/* Estilo del cuerpo de noticias*/
.cuerpo_noticia {
    background:#fff;
	border:1px solid #ddd;
	font-size:16px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 965px;  
}

.title_noti {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ribeye Marrow', cursive;
    margin: 12px 0px 1px 12px;    
}

.fecha_noticias {
    font-size: 10px;
    color: #aaa;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 12px;
}

.noti_cuerpo {
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 12px;
    font-family: 'Buenard', serif;
}

.campo_perfil {
    margin-left: 12px;
}
.noticias {
    background: url(../img/plaid.png);
    margin-left: 6px;
    width: 954px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:  4px 4px 10px #000000;
    -webkit-box-shadow: 4px 4px 12px #000000;
    box-shadow:  4px 4px 12px #000000;
}
.socialboton {
    margin-left: 12px;
}
/* sobre el disqus*/
#discus {
    width: 555px;
    margin-left: 22px;
}
.caralibro {
    margin: 1px 2px 3px -21px;
}
    
