{% extends "base.html" %}
{% block title %} {{evento.titulo}} {% endblock %}
{% block content %}
<div >
        <h1 class="titulos">{{evento.titulo}}</h1>
        <img src="{{STATIC_URL}}img/calendar_small.png">{{evento.fecha_inicio|date:"D, d-m-Y"}}
        y finaliza <img src="{{STATIC_URL}}img/calendar_small.png">{{evento.fecha_final|date:"D, d-m-Y"}}
        <h2 class="titulos">Lugar: {{evento.lugar}}</h2>
        <hr>
        {{evento.contenido|safe}}
        <div class="campo_perfil"><b> Contactos:</b> {{evento.contacto}}</div>
</div>
{% endblock %}
