{% extends "base.html" %}
{% block title %}Tutoriales{% endblock %}

{% block content %}
    {% for evento in eventos.object_list%}
    <div class="tutoriales_list">
        <h2 class="titulos">{{evento.titulo}} </h2>
        <div class="espaciotuto">
        <img src="{{STATIC_URL}}img/calendar_small.png">{{evento.fecha_inicio|date:"D, d-m-Y"}}
        <p>{{evento.contenido|truncatewords:15|safe}}</p>
        </div>
        <span class="autor"><b>Contactos:</b> {{evento.contacto}}</span>
        <div class="leermas"><a href="/evento/{{evento.slug}}"><input type="submit" class="btn primary" name="submit" value="leer más"></a></div>
        <br>
    </div>
    {% endfor %}

            <div class="pagination">
                <span class="step-links">
                {% if eventos.has_previous %}
                <a href="?page={{ eventos.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ eventos.number }} de {{ eventos.paginator.num_pages }}.
                </span>

                {% if eventos.has_next %}
                    <a href="?page={{ eventos.next_page_number }}">Siguiente</a>
                {% endif %}
                </span>
            </div>
{% endblock %}
