<!DOCTYPE HTML>
<html>
  <head>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Sail|Buenard|Ribeye+Marrow' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" charset="utf-8"> </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pythoni.css" type="text/css" media="screen" />
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
    
    <title>{%block title%}{%endblock%}</title>
    <style type="text/css">
      body {
          padding-top: 60px;
          background-image: url({{ STATIC_URL }}img/bg.png);
      }
    </style>
    {%block extra_head%}{%endblock%} 

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29482024-1']);
  _gaq.push(['_setDomainName', 'pythoni.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Python Nicaragua</a>
          <ul class="nav">
            <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/tutoriales">Tutoriales</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="http://foro.pythoni.org" target="blank">Foro</a></li>
          </ul>
          <p class="pull-right">Login</p>
        </div>
      </div>
    </div>

  <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          {%block sidebar%}
            <div class="titulos">Ultimos Tweets</div>
                {%for tweets  in ultimos %}
                    <div class="noticiatwt">
                    {{tweets.0|safe}}
                    </div>
                    <div class="fechatwt">
                    <strong>{{tweets.1}}</strong><br>
                    {% if not forloop.last %}
                        <img src="{{ STATIC_URL }}img/hr.gif" width="12px"; height="13px"; />
                    {% endif %}
           </div>
          {%endfor%}
    
    <div class="titulos">Siguenos</div>
    <a href="https://twitter.com/pythonicaragua" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @pythonicaragua</a>
    <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){js=d.createElement(s);
        js.id=id;js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);}
        }(document,"script","twitter-wjs");
    </script>

    <div class="titulos">Facebook</div>
<div class="caralibro">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>

<div class="fb-like-box" data-href="http://www.facebook.com/pages/Python-Nicaragua/298654800179702" data-width="200" data-colorscheme="light" data-show-faces="true" data-stream="true" data-header="true"></div>
</div>
{%endblock%}
        </div>
      </div>

      <div class="content">
        <div id="completo">
            {%block content%} 
            {%endblock%}
        </div> <!-- esto es el fin del div completo -->
        <div id="pie">
        <footer>
            <div class="marco"> 
                <img src="{{ STATIC_URL }}img/python.png" width="125" height="125" alt=""> 
            </div>
            <div class="zen">
                <h1>El Zen de <span>Python</span></h1>
                <p>Beautiful is better than ugly.
                   Explicit is better than implicit.
                   Simple is better than complex.
                   Complex is better than complicated.
                   Flat is better than nested.
                   Sparse is better than dense.
                   Readability counts.
                   Special cases aren't special enough to break the rules.
                   Although practicality beats purity.
                   Errors should never pass silently.
                   Unless explicitly silenced.
                   In the face of ambiguity, refuse the temptation to guess.
                   There should be one-- and preferably only one --obvious way to do it.
                   Although that way may not be obvious at first unless you're Dutch.
                   Now is better than never.
                   Although never is often better than *right* now.
                   If the implementation is hard to explain, it's a bad idea.
                   If the implementation is easy to explain, it may be a good idea.
                   Namespaces are one honking great idea -- let's do more of those!
            </div> 
        </footer>
        </div> <!-- esto es el fin del div pie -->
      </div> <!-- esto es el fin del class content -->     
  </div> <!-- esto es el fin del class container-fluid -->
  
  
 </body>
</html>
