{% extends "base.html" %}
{% block title %}Noticias sobre Python y Django{% endblock %}

       {%block sidebar%}
            <div class="titulos">Ultimos Tweets</div>
                {%for tweets  in ultimos %}
                    <div class="noticiatwt">
                    {{tweets.0|safe}}
                    </div>
                    <div class="fechatwt">
                    <strong>{{tweets.1}}</strong><br>
                    {% if not forloop.last %}
                        <img src="../files/img/hr.gif" width="12px"; height="13px"; />
                    {% endif %}
           </div>
          {%endfor%}
    
    <div class="titulos">Siguenos</div>
    <a href="https://twitter.com/pythonicaragua" class="twitter-follow-button" data-show-count="false" data-lang="es">Segui @pythonicaragua</a>
    <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){js=d.createElement(s);
        js.id=id;js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);}
        }(document,"script","twitter-wjs");
    </script>

    <div class="titulos">Facebook</div>
<div class="caralibro">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>

<div class="fb-like-box" data-href="http://www.facebook.com/pages/Python-Nicaragua/298654800179702" data-width="200" data-colorscheme="light" data-show-faces="true" data-stream="true" data-header="true"></div>
</div>
{%endblock%}

{% block content %}    
<div class="row">
    <div class="span8">
        <div class="cuadron">
            <h1 class="titulos left">Noticias sobre Python</h1>
                {%for k in aggregate1%}
                    <h5> <a href="{{k.1}}"> {{k.0}} </a></h5>
                    <p>{{k.2|safe}}</p>
                    <strong>{{k.3}}</strong>
                {%endfor%}
        </div> <!-- esto es el fin del class cuadron -->    
    </div>
 
    <div class="span8">
        <div class="cuadron">
        <h1 class="titulos left">Noticias sobre Django</h1>
            {%for k in aggregate%}
                <h5> <a href="{{k.1}}"> {{k.0}} </a></h5>
                <p>{{k.2|safe}}</p>
                <strong>{{k.3}}</strong>      
            {%endfor%}
        </div>
    </div>
</div> <!-- esto es el fin del class row -->

<div class="separador"></div>

<div class="row">

    <div class="span8">
      <div class="cuadron">
        <h1 class="titulos left">Tutoriales</h1>
            {%for k in tuto%}
                <h5> <a href="/tutoriales/{{k.0}}"> {{k.1}} </a></h5>
               	<p>{{k.2|safe|truncatewords_html:6}}</p>
                <strong>{{k.3}}</strong>
            {% empty %}
                <p>No hay actualmente ningun tutorial</p>
            {%endfor%}
        </div>
    </div>

    <div class="span8">
        <div class="cuadron">
            <h1 class="titulos left">Eventos</h1>
            {%for k in events%}
                <h5> <a href="/evento/{{k.0}}"> {{k.1}} </a></h5>
                <p>{{k.2|safe|truncatewords_html:6}}</p>
                <strong>{{k.3}}</strong> 
            {% empty %}
                <p>No hay actualmente ningun evento</p>       
            {%endfor%}
        </div>
    </div>

</div> <!-- esto es el fin del class row -->
<br></br><br>
{% endblock %}
